{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <a href="{{ path('fos_user_registration_register') }}">Registration</a>
    </h1>
    <h1>
        <a href="{{ path('fos_user_security_login') }}">Login</a>
    </h1>
    <h1>
        <a href="{{ path('quotes_index') }}">Cabinet</a>
    </h1>
{% endblock %}
